
body {
    background-color: #EAF6F6;
}

h1 {color:#51c2d5;}

h3 {color:#78c4d4;}


hr {
    border-style: dotted none none;
    border-color: gray;
    border-width: 3px;
    width: 5%;
}

img {
    height: 145px;
    width: 115px;
    }